@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,500;0,800;1,400&display=swap');

.sfondo-container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('../assets/Backgorundrefresh.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Inchioda la grandezza allo schermo */
  height: 100vh;
  width: 100vw;
  position: relative; /* Fa da gabbia per gli elementi con position: absolute */
  overflow: hidden;   /* Taglia via qualsiasi cosa sbrodoli fuori dallo schermo */
 }

 .nav-refresh {
  display: flex; /* Mette gli elementi in riga orizzontale */
  justify-content: space-between; /* Spinge il logo a sinistra e i bottoni a destra */
  align-items: center; /* Centra tutto verticalmente */
  width: 100%;
  padding: 20px 50px; /* Spazio interno: 20px sopra/sotto, 50px ai lati */
  background-color: rgba(0, 0, 0, 0.4); /* Uno sfondo scuro semi-trasparente per far risaltare la barra */
  box-sizing: border-box; /* Evita che il padding faccia sbordare la navbar fuori dallo schermo */
}

/* Stili per la parte sinistra (Logo + Titolo) */
.nav-sinistra {
  display: flex;
  align-items: center;
  gap: 15px; /* Spazio tra l'icona del logo e la scritta "Liber" */
}

.titolo-app {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.titolo-app:hover{
  cursor: pointer;
  color: yellowgreen;
}

/* Stili per la parte destra (Lista dei link) */
.nav-destra {
  display: flex;
  list-style: none; /* Rimuove i fastidiosi puntini elenco (bullet points) */
  gap: 20px; /* Spazio tra il bottone Login e Registrati */
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.btn-refresh{
  border: 1px solid whitesmoke;
  border-radius: 6px;
  cursor: pointer;
  font-size: x-large;
  font-weight: 600;
  background-color: transparent;
  color: aliceblue;
  padding: 8px 18px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.btn-refresh:hover{
  color: rgb(88, 131, 102);
  border-color: rgb(88, 131, 102);
}

.link-refresh{
  color: inherit;
  color:whitesmoke;
}



.titoli-refresh {
  color: white;
  font-size: x-large;
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%; 
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; 
  font-weight: 600;
  
}

.refresh-call2action{
  color: #ffffff;
  font-size: x-large;
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%; 
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; 
 } 
 .refresh-call2action:hover{
  color: rgb(98, 161, 98);
 }
