/*LOOGO COMPONENT*/
.logo-img{
  width: 50px; /* Modifica questo valore per farlo più grande o più piccolo */
  height: auto; /* Mantiene le proporzioni corrette */
  object-fit: contain;
}

.footer{
  font-size: medium;
  position: absolute;
  bottom: 0; /* Lo incolla al pavimento dello schermo */
  left: 0;
  width: 100%; /* Gli fa occupare tutta la larghezza */
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.6); /* Sfondo scuro per farlo leggere sulla foto */
  color: white;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
}